<header>
  
    <nav class="grey lighten-2" role="navigation">
      
      <div class="nav-wrapper container">
        
        <div class="row">
        
        <div class="col s12 m2">
          <a id="brand-logo" href="{{ site.baseurl }}/">
            <img class="responsive-img" src="img/lairworks-logo.png" />
          </a>
          </div>
        
        <div class="trigger col s9">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for page in site.pages %}
              {% if page.title %}
                <li>
                  <a class="flow-text" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        
        </div>
        
      </div>
      
    </nav>

</header>
