<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="img/lairworks-logo.png" />
    </a>

    <nav class="site-nav" role="navigation">
      <div class="nav-wrapper container">
      <div class="trigger">
        <ul class="right hide-on-med-and-down">
        {% for page in site.pages %}
          {% if page.title %}
          <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      </div>
    </nav>

  </div>

</header>
